@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--text-tiny: 0.625rem;
	--color-light: #fcf9f5;
	--color-dark: #6e3931;
	--color-gold-50: #F9F5F1;
	--color-gold-100: #F3EBE2;
	--color-gold-200: #EDE0D4;
	--color-gold-300: #E7D6C5;
	--color-gold-400: #E1CCB7;
	--color-gold-500: #DBC2A9;
	--color-gold-600: #D5B89A;
	--color-gold-700: #CFAF8C;
	--color-gold-800: #C9A47E;
	--color-gold-900: #C3996F;
	--color-gold-950: #BD8F61;
}

@theme inline {
	--font-sans: var(--font-sans);
	--font-serif: var(--font-serif);
}

@layer components {
	.left-to-right,
	.right-to-left,
	.top-to-bottom,
	.bottom-to-top {
		transition-property: opacity, translate;
		transition-duration: 750ms;
		transition-delay: 200ms;
	}

	.scale-up,
	.scale-down {
		transition-property: scale;
		transition-duration: 750ms;
		transition-delay: 200ms;
	}

	.scale-up[data-done='false'] {
		@apply scale-75;
	}

	.scale-up[data-done='true'] {
		@apply scale-100;
	}

	.scale-down[data-done='false'] {
		@apply scale-125;
	}

	.scale-down[data-done='true'] {
		@apply scale-100;
	}

	.left-to-right[data-done='false'] {
		@apply opacity-0 -translate-x-[10%];
	}

	.left-to-right[data-done='true'] {
		@apply opacity-100 translate-x-[0%];
	}

	.right-to-left[data-done='false'] {
		@apply opacity-0 translate-x-[10%];
	}

	.right-to-left[data-done='true'] {
		@apply opacity-100 translate-x-[0%];
	}

	.top-to-bottom[data-done='false'] {
		@apply opacity-100 -translate-y-[10%];
	}

	.top-to-bottom[data-done='true'] {
		@apply opacity-100 translate-y-[0%];
	}

	.bottom-to-top[data-done='false'] {
		@apply opacity-100 translate-y-[10%];
	}

	.bottom-to-top[data-done='true'] {
		@apply opacity-100 translate-y-[0%];
	}
}

@layer components {
	.hamburger {
		@apply bg-gold-100 rounded-full size-16;
	}

	.hamburger-open {
		@apply animate-[hamburger-open_500ms_both];
	}

	.hamburger-close {
		@apply animate-[hamburger-close_500ms_both];
	}

	.hamburger-icon {
		@apply stroke-1 stroke-black size-full;

		&>* {
			@apply origin-center;
		}

		&>*:first-child {
			@apply -translate-y-[5px];
		}

		&>*:last-child {
			@apply translate-y-[5px];
		}
	}

	.hamburger-icon-open {
		&>*:first-child {
			@apply animate-[hamburger-top-open_500ms_both];
			@apply translate-y-0;
		}

		&>*:last-child {
			@apply animate-[hamburger-bottom-open_500ms_both];
			@apply translate-y-0;
		}
	}

	.hamburger-icon-close {
		&>*:first-child {
			@apply animate-[hamburger-top-close_500ms_both];
			@apply -translate-y-[5px];
		}

		&>*:last-child {
			@apply animate-[hamburger-bottom-close_500ms_both];
			@apply translate-y-[5px];
		}
	}

	@keyframes hamburger-open {
		from {
			width: 4rem;
			height: 4rem;
		}

		to {
			width: 5rem;
			height: 5rem;
		}
	}

	@keyframes hamburger-close {
		from {
			width: 5rem;
			height: 5rem;
		}

		to {
			width: 4rem;
			height: 4rem;
		}
	}

	@keyframes hamburger-top-open {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(-138deg);
		}
	}

	@keyframes hamburger-top-close {
		from {
			transform: rotate(-138deg);
		}

		to {
			transform: rotate(0deg);
		}
	}

	@keyframes hamburger-bottom-open {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(138deg);
		}
	}

	@keyframes hamburger-bottom-close {
		from {
			transform: rotate(138deg);
		}

		to {
			transform: rotate(0deg);
		}
	}

}